<header>
  <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #0F3B4C">
    <a class="navbar-brand" href="#">AI-Sys FA19</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="#today">Syllabus</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#grading">Grading</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://piazza.com/class/jz1seb32ovq4p2">Piazza</a>
        </li>
      </ul>
    </div>
  </nav>
</header> 